//
// Mixins
// --------------------------------------------------

.smooth-transiton(){
    .transition(all .2s ease-in-out);
}

// BACKGROUND PATTERNS
// --------------------------------------------------
#background-pattern {
    // Chess pattern
    .chess (@back-color: #000, @front-color: #fff, @cell-size: 30px) {
        background-color: @back-color;
        background-image:
            -webkit-linear-gradient(45deg, @front-color 25%, transparent 25%), 
            -webkit-linear-gradient(-45deg, @front-color 25%, transparent 25%),
            -webkit-linear-gradient(45deg, transparent 75%, @front-color 75%),
            -webkit-linear-gradient(-45deg, transparent 75%, @front-color 75%); // Safari 5.1-6, Chrome 10+
        background-image:
            linear-gradient(45deg, @front-color 25%, transparent 25%), 
            linear-gradient(-45deg, @front-color 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, @front-color 75%),
            linear-gradient(-45deg, transparent 75%, @front-color 75%);
        background-size: @cell-size @cell-size;
        background-position:0 -@cell-size/2, 0px 0, -@cell-size/2 0px, @cell-size/2 @cell-size/2;
        background-repeat: repeat;
    }
    
}




