.smooth-transiton {
    .smooth-transiton();
}

a {
    &:extend(.smooth-transiton all);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
    a {
        color: @headings-color;
        &:hover {
            color: @headings-color;
        }

    }
}

h1, .h1 {
    color: @color-h1;
}
h2, .h2 {
    margin-top: 0;
}
h4, .h4 {
    padding-top: 10px;
    color: @thumbnail-captoon-heading-color;
}

/* STICKY FOOTER
======================================== */
html,
body {
    height: 100%;
}
body > .body-wrap {
    height: auto;
    margin: 0 auto -@footer-height;
    min-height: 100%;
    padding: 0 0 @footer-height;
}
body > .footer-wrap {
    min-height: @footer-height;
}


/* COMMON
======================================== */

/* Styled blocks
---------------------------------------- */
.styled-container {
    background-color: @styled-pattern-bg-color;
    background-image: url(@styled-pattern-bg-img);
}

.styled-heading {
    background-color: @styled-heading-bg-color;
    background-image: url(@styled-heading-bg-img);
}

/* Social blocks
---------------------------------------- */
.social-buttons {
    > a {
        display: inline-block;
        padding: 3px 9px;
        vertical-align: middle;
    }
}

/* Tables
---------------------------------------- */
.products-table {
    &.table-bordered {
        border-color: @styled-heading-bg-color;
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    border-color: @styled-heading-bg-color;
                    vertical-align: middle;
                }
                > th {
                    border-left-color: #fff;
                    border-right-color: #fff;
                    background: @styled-heading-bg-color url(@styled-heading-bg-img);
                    text-transform: uppercase; 
                    font-family: @headings-font-family;
                    text-transform: uppercase;
                    color: #fff;
                    &:first-child {
                        border-left-color: @styled-heading-bg-color;
                    }
                    &:last-child {
                        border-rigt-color: @styled-heading-bg-color;
                    }
                }
            }
        }
    }
    &.table-striped {
        > tbody {
            > tr:nth-child(odd) {
                > td,
                > th {
                    background-color: #fdfee5;
                }
            }
            > tr {
                &:hover {
                    > td,
                    > th {
                        background-color: #eff4a2;
                    }
                }
            }
        }
    }
    .img {
        padding: 0;
    }
    .price {
        white-space: nowrap;
    }
    .purchase {
        .btn-link {
            font-family: @headings-font-family;
            text-transform: uppercase;
            color: @headings-color;
        }
    }
}

.filters-block{
    margin-bottom: 20px;
    .btn-link {
        color: @text-color;
        text-decoration: none;
    }
    caption {
        text-align: left;
        color: #fff;
        background: @styled-heading-bg-color url(@styled-heading-bg-img);
        .btn-link {
            color: #fff;
            position: relative;
            padding-right: 20px;
            .close {
                position: absolute;
                top: 0px;
                right: 3px;
            }
        }
        .btn-default {
            border-radius: 0;
            background: transparent;
            color: #fff;
            border-left: 0;
            border-top: 0;
            border-bottom: 0;
        }
    }
    &.table-bordered {
        border-color: @styled-heading-bg-color;
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    border-color: @styled-heading-bg-color;
                }
            }
        }
    }
    .dropdown-menu {
        label {
            padding-left: 10px;
        }
    }
}
.filters-container {
    .btn {
        margin-left: 4px;
        margin-right: 4px;
        white-space: nowrap;
        .close {
            margin-left: 5px;
        }
    }
    .btn-link {
        cursor: default;
    }
}

.description-content {
    border: 1px solid @styled-heading-bg-color;
}
table.description-content {
    tr {
        &:first-child {
            th,
            td {
                border-top-color: @styled-heading-bg-color;
            }
        }
    }
}
div.description-content {
    padding: 4px 8px;
}
.products-carousel {
    margin-bottom: 20px;
}
.products-carousel-indicators {
    margin-bottom: 20px;
    a {
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        @media (min-width: @screen-sm-min) {
            margin-right: 0;
            margin-left: 15px;
            margin-bottom: 15px;
        }
        @media (min-width: @screen-md-min) {
            margin-left: 0;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        @media (min-width: @screen-lg-min) {
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
}

/* Carousel
---------------------------------------- */
.carousel-container {
    padding-top: @carousel-padding-vertical/2;
    padding-bottom: @carousel-padding-vertical/2;
    .container-fluid {
        max-width: @screen-lg;
        padding: 0;
    }
    .carousel-caption {
        position: absolute;
        text-align: left;
        left: 0;
        right: 0%;
        bottom: 16px;
        z-index: auto;
        padding-top: 0;
        padding-bottom: 0;
        /*color: @carousel-caption-color;*/
        /*text-align: center;*/
        /*text-shadow: @carousel-text-shadow;*/
        /*        & .btn {
                    text-shadow: none; // No shadow for button elements in carousel-caption
                }*/

        h3 {
            display: inline-block;
            color: @header-link-color;
            background-color: @styled-heading-bg-color;
            padding: @carousel-heading-padding-vertical @carousel-heading-padding-horizontal;
            font-size: @font-size-h1;
        }

        &-content {
            padding: @carousel-heading-padding-vertical @carousel-heading-padding-horizontal;
            background-color: @header-bg-color;
        }
    }

    .carousel-control {
        .fa-chevron-left {
            left: 10%;
        }
        .icon-next,
        .fa-chevron-right {
            right: 10%;
        }
        .fa-chevron-left,
        .fa-chevron-right {
            width:  32px;
            height: 32px;
            margin-top: -16px;
            text-align: center;
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;
            font-size: 25px;
            line-height: 33px;
            background: #fff;
            color: #000;
            border-radius: 50%;
        }
    }
}

/* Content
---------------------------------------- */
.content-container {
    padding-top: @content-padding-vertical/2;
    padding-bottom: @content-padding-vertical/2;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        margin-left: -@grid-gutter-width/2;
        margin-right: -@grid-gutter-width/2;
    }
}

/* thumbnails
---------------------------------------- */
.simple-thumbnails {
    .thumbnail {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-top: 20px;

        > a {
            display: block;
            position: relative;
            &:after {
                display: block;
                font-family: FontAwesome;
                content: "@{fa-var-search-plus}";
                text-align: center;
                height: 32px;
                width: 32px;
                line-height: 32px;
                font-size: 32px;
                position: absolute;
                color: #fff;
                text-shadow: 0 0 3px rgba(0,0,0,1);
                left: 50%;
                top: 50%;
                margin-top: -16px;
                margin-left: -16px;
                opacity: 0;
            }
            &:hover {
                &:after  {
                    &:extend(.smooth-transiton all);
                    opacity: .5;
                }
            }
        }

        .caption {
            padding: 0;
            font-size: @font-size-small;

            h3 {
                color: @thumbnail-captoon-heading-color;
                font-size: @font-size-small;
                margin-top: 10px;
            }
        }
    }
}

/* thumbnails
---------------------------------------- */
.styled-form {
    .form-control {
        border-radius: 0;
        border-color: @styled-heading-bg-color;
    }
    .btn-default {
        border-radius: 0;
        color: #fff;
        font-family: @headings-font-family;
        text-transform: uppercase;
        border-color: @styled-heading-bg-color;
        background: @styled-heading-bg-color url(@styled-heading-bg-img);
    }
}

/* HEADER
======================================== */
.header-container {
    background-color: @header-bg-color;
    background-image: url(@header-bg-img);
    color: #fff;
}
/* Header menu
---------------------------------------- */
.simple-menu.header-menu{
    margin-bottom: 20px;

    > li {
        border-left: 1px solid @headings-color;

        &:first-child {
            border-left: none;

            a {
                padding-left: 0;
            }
        }

        &:last-child {
            a {
                padding-right: 0;
            }
        }
    }

    a {
        padding: 0px 15px;
        color: @headings-color;
        text-transform: uppercase;
        font-family: @headings-font-family;
        font-size: @font-size-large;
    }
}


/* FOOTER
======================================== */
.footer-container {    
    background-color: @footer-bg-color;
    background-image: url(@footer-bg-img);
    .box-shadow(inset 0px -15px 30px rgba(0,0,0,.5));
    color: #fff;
    min-height: @footer-height;
    font-size: @font-size-small;
    line-height: 1;
    padding-bottom: 15px;

    a {
        color: @footer-link-color;
        &:hover {
            color: @footer-link-hover-color;
        }
    }
}


/* Footer menu
---------------------------------------- */
.footer-menu-container {
    padding-top: 20px;
    .footer-menu {
        display: inline-block;
    }
}
.simple-menu.footer-menu{
    > li {
        border-left: 1px solid #fff;

        &:first-child {
            border-left: none;

            a {
                padding-left: 0;
            }
        }

        &:last-child {
            a {
                padding-right: 0;
            }
        }
    }

    a {
        padding: 0px 10px;
    }
}
@media (min-width: @grid-float-breakpoint) {
    .footer-menu-container {
        text-align: center;
    }
}

/* copuright and developed containers
---------------------------------------- */
.developed-container {
    font-size: @font-size-small - 1px;
    padding-top: 20px;
    text-align: right;
    text-transform: uppercase;
}
.copyright-container {
    font-size: @font-size-small - 1px;
    padding-top: 20px;
    text-transform: uppercase;
}

