@icon-font-path:    "../bootstrap/fonts/";
@fa-font-path:      "../font-awesome/fonts/";

@font-family-sans-serif:  'Open Sans', Helvetica, Arial, sans-serif;
@headings-font-family:  'Oswald', Helvetica, Arial, sans-serif;
@headings-color: #959d03;

@header-bg-color: #0e3907;
@header-bg-img: 'data:image/gif;base64,R0lGODlhBAAEAKECAAolBQ45B////////yH5BAEKAAIALAAAAAAEAAQAAAIGTACGqBkFADs=';
@footer-bg-color: @header-bg-color;
@footer-bg-img: @header-bg-img;
@styled-pattern-bg-color: #e4e4e4;
@styled-pattern-bg-img: 'data:image/gif;base64,R0lGODlhBAAEAKECAOTk5Pf39////////yH5BAEKAAIALAAAAAAEAAQAAAIGBBKGqAkFADs=';
@styled-heading-bg-color: #959d03;
@styled-heading-bg-img: 'data:image/gif;base64,R0lGODlhBAAEAKECAHqBA5WdA////////yH5BAEKAAIALAAAAAAEAAQAAAIGBBKGqAkFADs=';


@footer-height: 50px;
@footer-text-color: #fff;
@footer-link-color: @headings-color;
@footer-link-hover-color: lighten(@footer-link-color, 30%);

@header-link-color: #fff;
@header-link-hover-color: lighten(@headings-color, 30%);
@header-font-family: @headings-font-family;

@styled-navbar-padding-vertical:     5px;
@styled-navbar-padding-horizontal:   12px;
@styled-navbar-search-background: rgba(0,0,0,.4);
@styled-navbar-social-buttons-backround: rgba(0,0,0,.4);
@styled-navbar-form-min-width: 130px;
@styled-navbar-form-max-width: 300px;