@icon-font-path:    "../bootstrap/fonts/";
@fa-font-path:      "../font-awesome/fonts/";

@font-family-sans-serif:  'Open Sans', Helvetica, Arial, sans-serif;
@headings-font-family:  'Oswald', Helvetica, Arial, sans-serif;
