{% extends "base.html.twig" %}


{% block carousel %}
<div class="styled-container carousel-container">
    <div class="container-fluid">
        <div id="carousel-for-startpage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://lorempixel.com/1200/500/transport/4/" alt="1200x500">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1">
                                    <h3>Full scale service</h3>
                                    <div class="carousel-caption-content">
                                        <p>Our company offers a full-scale car part services, from Engine start button to the full engine itself. Just state your need and our customer service will come back to you part preposition in the chortest time posible.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/1200/500/transport/7/" alt="1200x500">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1">
                                    <h3>Pellentesque scelerisque sem convallis mattis auctor.   </h3>
                                    <div class="carousel-caption-content">
                                        <p>Curabitur lacinia bibendum scelerisque. Nunc vel dictum elit. Etiam faucibus scelerisque tortor. Vivamus in pellentesque quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer eu nulla et arcu sodales consequat quis nec eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus purus magna, tincidunt in eros sit amet, rhoncus feugiat velit. Sed dapibus tristique arcu at pellentesque.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/1200/500/transport/6/" alt="1200x500">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1">
                                    <h3>Suspendisse nec dapibus sem</h3>
                                    <div class="carousel-caption-content">
                                        <p>Pellentesque scelerisque sem convallis mattis auctor. Nulla eleifend sem vehicula nisi aliquam, non commodo tellus semper. Quisque leo dui, tempor sit amet luctus sed, fringilla vel ligula. Donec eros est, egestas convallis consequat nec, vulputate sit amet felis. Aenean id blandit felis. Nunc sagittis purus lorem, ut elementum nulla faucibus in. Morbi pretium neque a libero tristique faucibus. Nam sit amet sollicitudin lorem. Sed quis massa eget nisl varius molestie. Nullam vel risus adipiscing, auctor augue nec, pharetra sem. Curabitur tristique facilisis libero non placerat. Praesent et tincidunt orci. Morbi auctor at urna eu tempus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-for-startpage" data-slide="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-for-startpage" data-slide="next">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>

</div>

{% endblock %}