{% extends "base.html.twig" %}


{% block carousel %}
<div class="styled-container carousel-container">
    <div class="container-fluid">
        <div id="carousel-for-startpage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://lorempixel.com/1200/500/transport/4/" alt="1200x500">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1">
                                    <h3>Full scale service</h3>
                                    <div class="carousel-caption-content">
                                        Our company offers a full-scale car part services, from Engine start button to the full engine itself. Just state your need and our customer service will come back to you part preposition in the chortest time posible.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/1200/500/transport/7/" alt="1200x500">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1">
                                    <h3>Pellentesque scelerisque sem convallis mattis auctor.   </h3>
                                    <div class="carousel-caption-content">
                                        Curabitur lacinia bibendum scelerisque. Nunc vel dictum elit. Etiam faucibus scelerisque tortor. Vivamus in pellentesque quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer eu nulla et arcu sodales consequat quis nec eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus purus magna, tincidunt in eros sit amet, rhoncus feugiat velit. Sed dapibus tristique arcu at pellentesque.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/1200/500/transport/6/" alt="1200x500">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1">
                                    <h3>Suspendisse nec dapibus sem</h3>
                                    <div class="carousel-caption-content">
                                        Pellentesque scelerisque sem convallis mattis auctor. Nulla eleifend sem vehicula nisi aliquam, non commodo tellus semper. Quisque leo dui, tempor sit amet luctus sed, fringilla vel ligula. Donec eros est, egestas convallis consequat nec, vulputate sit amet felis. Aenean id blandit felis. Nunc sagittis purus lorem, ut elementum nulla faucibus in. Morbi pretium neque a libero tristique faucibus. Nam sit amet sollicitudin lorem. Sed quis massa eget nisl varius molestie. Nullam vel risus adipiscing, auctor augue nec, pharetra sem. Curabitur tristique facilisis libero non placerat. Praesent et tincidunt orci. Morbi auctor at urna eu tempus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-for-startpage" data-slide="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-for-startpage" data-slide="next">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-4">
                    <h2><i class="img-icon img-icon-select"></i> Car Part Selection</h2>
                    <p>
                        Fusce dictum neque at turpis lacinia facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec laoreet tortor orci, ac lobortis est semper nec.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h2><i class="img-icon img-icon-gear"></i> Consulting & Delivery</h2>
                    <p>
                        Etiam scelerisque porta nunc pharetra bibendum. Aliquam commodo pulvinar metus in consectetur. Duis vel pellentesque arcu, ac pellentesque est. Vestibulum tellus purus, suscipit varius congue sit amet, convallis non risus. In non nisi non libero faucibus imperdiet sit amet in purus.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h2><i class="img-icon img-icon-person"></i> Service & Instalation</h2>
                    <p>
                        Vestibulum porta nec odio et cursus. In ullamcorper placerat consequat. Cras et neque a metus facilisis interdum. Vestibulum dictum augue vitae nisi posuere, laoreet varius lacus tempus. 
                    </p>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-container styled-container">
    <div class="container simple-thumbnails">
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <div class="container-fluid">
                    <div class="col-xs-12">
                        <h1>Latest products in our catalogue</h1>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="thumbnail">
                            <a href="#img1"><img src="http://lorempixel.com/260/165/transport/1/" alt=""></a>
                            <div class="caption">
                                <h3>2009 Volkswagen Passat B6</h3>
                                <p>Automatic transmission gearbox</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="thumbnail">
                            <a href="#img1"><img src="http://lorempixel.com/260/165/transport/2/" alt=""></a>
                            <div class="caption">
                                <h3>2012 Ford Focus</h3>
                                <p>Front drivers airbag</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="thumbnail">
                            <a href="#img1"><img src="http://lorempixel.com/260/165/transport/3/" alt=""></a>
                            <div class="caption">
                                <h3>2010 Hyndai Sanata EF 2nd Generation</h3>
                                <p>Leather multi-functional steereng wheel</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="thumbnail">
                            <a href="#img1"><img src="http://lorempixel.com/260/165/transport/5/" alt=""></a>
                            <div class="caption">
                                <h3>2008 Audi A7 Sports Edition</h3>
                                <p>Drive shaft</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}