<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-3">
                <div class="footer-menu-container">
                    <ul class="simple-menu simple-menu-tabs footer-menu">
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-sm-pull-6 col-lg-2 col-lg-offset-1">
                <div class="copyright-container">
                    &copy; 2013 Racing Green
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-2">
                <div class="developed-container">
                    Developed by <a href="#">CG Ant</a>
                </div>
            </div>
        </div>
    </div>
</div>